<div>
  <div class="employee">
    <img
      src="https://st.depositphotos.com/2101611/3925/v/600/depositphotos_39258143-stock-illustration-businessman-avatar-profile-picture.jpg"
      height="100"
      width="100"
    />
    <div>
      <button routerLink="/employee">Back</button>
    </div>
  </div>
  <div>Employee Details</div>
  <div>
    <div>Name:Faritha</div>

    <div>Email:farinoor@gmail.com</div>

    <div>Mobile:90892323232323</div>
    <div>
      <table align="right" style="width:50%">
        <tr>
          <th>Name</th>
          <td>{{ employee.Name }}</td>
        </tr>
        <tr>
          <th>age</th>
          <td>{{ employee.Age }}</td>
        </tr>
        <tr>
          <th>street</th>
          <td>{{ employee.Street }}</td>
        </tr>
        <tr>
          <th>city</th>
          <td>{{ employee.City }}</td>
        </tr>
        <tr>
          <th>zip</th>
          <td>{{ employee.Zip }}</td>
        </tr>
        <tr>
          <th>region</th>
          <td>{{ employee.Region }}</td>
        </tr>
        <tr>
          <th>country</th>
          <td>{{ employee.Country }}</td>
        </tr>
        <tr>
          <th>Info</th>
          <td>{{ employee.Info }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
