<div>
  <div class="employee">
    <img
      src="https://st.depositphotos.com/2101611/3925/v/600/depositphotos_39258143-stock-illustration-businessman-avatar-profile-picture.jpg"
      height="100"
      width="100"
    />
    <div>
      <div>Name:Faritha</div>

      <div>Email:farinoor@gmail.com</div>

      <div>Mobile:90892323232323</div>
      <button routerLink="/employee">Back</button>
    </div>
  </div>
  <div>Employee Details</div>
  <div>
    <table style="width:50%">
      <tr>
        <td>Name</td>
        <td>Faritha</td>
      </tr>
      <tr>
        <td>Age</td>
        <td>30</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>farinoor@gmail.com</td>
      </tr>
      <tr>
        <td>Street</td>
        <td>nehru nagar</td>
      </tr>
      <tr>
        <td>City</td>
        <td>Velachery</td>
      </tr>

      <tr>
        <td>Zip</td>
        <td>600042</td>
      </tr>
      <tr>
        <td>Country</td>
        <td>India</td>
      </tr>
      <tr>
        <td>Employee ID</td>
        <td>600042</td>
      </tr>
      <tr>
        <td>Date Of Joining</td>
        <td>10/12/2020</td>
      </tr>
      <tr>
        <td>Mobile No</td>
        <td>6000422222</td>
      </tr>
    </table>
  </div>
</div>
