<div class="m-b-10">
  <button><<</button>
  <button><</button>
  <button>1</button>
  <button>2</button>
  <button>></button>
  <button>>></button>
  <select name="page" id="page">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
  <input type="text" placeholder="Search" />
  <button class="button-det">Search</button>
</div>

<table width="100%">
  <tr>
    <th>POSTAL ID</th>
    <th>ID</th>
    <th>NAME</th>
    <th>EMAIL</th>
    <th>BODY</th>
  </tr>
  <tr *ngFor="let item of workersList">
    <td>{{ item.postal }}</td>
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.email }}</td>
    <td>{{ item.body }}</td>
  </tr>
</table>
