<div class="m-b-10">
  <button class="option" (click)="displaypage(1)"><<</button>
  <button class="option" (click)="displaypage(page - 1)"><</button>
  <button class="option" (click)="displaypage(1)">1</button>
  <button class="option" (click)="displaypage(2)">2</button>
  <button class="option" (click)="displaypage(3)">3</button>
  <button class="option" (click)="displaypage(4)">4</button>
  <button class="option" (click)="displaypage(5)">5</button>
  <button class="option" (click)="displaypage(page + 1)">></button>
  <button class="option" (click)="displaypage(comments.length / pageLimit)">
    >>
  </button>
  <select (change)="changepageLimit()" name="page" id="page">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="25">25</option>
    <option value="30">30</option>
    <!-- <option value="35">35</option>
    <option value="40">40</option>
    <option value="45">45</option>
    <option value="50">55</option> -->
  </select>
  <input type="text" placeholder="Search" />
  <button class="button-det">Search</button>
  <p>current page:{{ page }}</p>
</div>

<table width="100%">
  <tr>
    <th>{{ 'postalid' | uppercase }}</th>
    <th>{{ 'id' | uppercase }}</th>
    <th>{{ 'name' | uppercase }}</th>
    <th>{{ 'email' | uppercase }}</th>
    <th>{{ 'body' | uppercase }}</th>
  </tr>
  <tr *ngFor="let item of filtercomments">
    <td>{{ item.postId }}</td>
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.email }}</td>
    <td>{{ item.body }}</td>
  </tr>
</table>
